*{
    box-sizing: border-box;
}
body {
    background-color: #e5e5e5;
    font-family: 'Cabin Condensed', sans-serif;
}
.navbar {
    background-color: #1E428A;
    height: 5rem;
    width: 100%;
    color: #FFFFFF;
     display: flex;  
    align-items: center;
   
}
.navbar img{ 
    display: block;
    height: 80%;
    margin: 8vw;
 }
.navbar div ul{
    display: flex;   
    justify-content: center;
}

.navbar li{
    display: inline-block;
    width: 5rem;
    top: 50%;
    align-items: center;
    margin: 0 2rem;
}


.center{
    display: flex;
    justify-content: center;
}
.b-selling{
    margin: 10% 0% 2% 30%;
}
.section{
    display: flex;
}



.side-panel{
    height:50vh;
    background-color: rgb(212, 212, 203);
    width: 20%;
    float: left;
    margin-left: 5%;
    
}
.main-panel{
    height:50vh;
    background-color: rgb(214, 228, 221);
    width: 60%;
    float: left;
    margin-left: 5%;

}